@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rajdhani&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Nunito Sans', sans-serif;
}

.invalid-feedback {
  display: block;
  text-align: right;
}
